body {
  font-family: "Montserrat", sans-serif;
  background: url("../assets/s.svg");
  background-size: ccover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.sub-heading {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.b-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #6c757d;
}

.temp-margin {
  padding: 5% 15%;
}

#navbar-my {
  padding: 2% 11%;
  padding-top: 1%;
}

.navbar {
  padding: 0.5rem 0rem;
  font-weight: 300;
}

.navbar-btn {
  background: #fff;
  color: #4534aa;
  border: none;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.navbar-btn:hover {
  background: #ffbf00;
  color: #fff;
}

a {
  color: #fff;
}
a:hover {
  color: #fff;
}
/* MAIN SECTION AND EVERYTHING IN MAIN */
#main {
  padding: 10% 15%;
  padding-top: 0%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.btn-explore {
  color: #4534aa;
  border: 1px solid #4534aa;
}

.btn-explore:hover {
  color: white;
  background: #4534aa;
}

#goal {
  padding: 0% 15%;
  /* background-image: url("../assets/astronaut-animate.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
  backface-visibility: visible; */
  padding-bottom: 5%;
}

.boot-icon {
  color: #6c63ff;
}

#wwp {
  padding: 3% 12%;
}

.card {
  border: none;
}

.card-img {
  padding: 10%;
  width: 100%;
  margin-bottom: 1.25rem;
  height: 180px;
  background-color: #d6d1f5;
}
.card-body {
  padding: 0%;
}
mark {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

#banner {
  padding: 2% 15%;
  background-color: #d6d1f5;
}

#services {
  padding: 5% 15%;
  background: url("../assets/resources-back.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.service-card-img {
  padding: 2%;
  margin: 5%;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 50%;
  width: 100px;
}

.service-card-btn {
  background-color: #4534aa;
  opacity: 1;
  color: #fff;
  border: none;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.service-card-btn:hover {
  background: #fff;
  color: #4534aa;
  opacity: 0.9;
}

.service-card-heading {
  font-weight: 500;
  /* color: #fff; */
}

.service-card:hover {
  background: #d6d1f5;
  color: #fff;
}

.service-card:hover ~ .service-card-img {
  background-color: white;
}

.mycard {
  border-radius: 50px;
}

#testimonials {
  width: 100%;
  padding: 5% 5%;
  background: #f8f9fa;
  background-image: url("../assets/wave2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.person-pin {
  border-radius: 50%;
  height: 75px;
}

#footer {
  padding: 5% 5%;
  background: #4534aa;
}

.my-list-style {
  list-style: none;
  padding-left: 0;
}

footer {
  color: #fff;
}

.footer-heading {
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.custom-bg {
  background-image: radial-gradient(
      circle at 52% 94%,
      rgba(169, 169, 169, 0.04) 0%,
      rgba(169, 169, 169, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 100%
    ),
    radial-gradient(
      circle at 96% 98%,
      rgba(61, 61, 61, 0.04) 0%,
      rgba(61, 61, 61, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 100%
    ),
    radial-gradient(
      circle at 93% 97%,
      rgba(227, 227, 227, 0.04) 0%,
      rgba(227, 227, 227, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 100%
    ),
    radial-gradient(
      circle at 79% 52%,
      rgba(245, 245, 245, 0.04) 0%,
      rgba(245, 245, 245, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 100%
    ),
    linear-gradient(330deg, rgb(255, 191, 0), rgb(230, 233, 65));
}
