.container-fluid {
  padding: 0%;
}

#navbar-my {
  padding: 2% 15%;
  padding-top: 1%;
}

.navbar-btn {
  background: #fff;
  color: #4534aa;
  border: 1px solid #fff;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.navbar-btn:hover {
  border: 0.5px solid #ffbf00;
  background: #ffbf00;
  color: #fff;
}

#overview {
  color: #fff;
  padding: 5% 10%;
}

#nav-overview {
  background-image: radial-gradient(
      circle at 70% 18%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 41%,
      transparent 41%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 94%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 63%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 85%,
      transparent 85%,
      transparent 100%
    ),
    radial-gradient(
      circle at 5% 85%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 49% 93%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 37%,
      transparent 37%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(15, 5, 113), rgb(191, 90, 222));
}

#frontend {
  padding: 5%;
}

#web {
  padding: 5% 15%;
  background: color;
}

#gitter {
  padding: 5%;
}

#backend {
  padding: 5%;
}

.banner {
  height: 200px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.my-button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.choice {
  position: absolute;
  right: 5%;
  top: 5%;
  color: #fff;
  cursor: pointer;
}

/* Language Card Setting */
.l-card {
  margin-top: 20px;
}

.l-card .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.l-card .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.l-card .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
}

.l-card h5 {
  color: #4e5e30;
  font-weight: 600;
}

.l-card p {
  font-size: 14px;
  font-weight: 300;
}

.l-card .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}

/* .l-card .time {
  margin: 0 auto;
  position: relative;
  bottom: -10px;
} */
