#main {
  padding: 5% 15%;
}

#content {
  padding: 5% 10%;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.b-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #6c757d;
}

.l-card {
  margin-top: 20px;
}

.l-card .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.l-card .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.l-card .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
}

.l-card h5 {
  color: #4E5E30;
  font-weight: 600;
}

.l-card p {
  font-size: 14px;
  font-weight: 300;
}

.l-card .btn-primary {
  background-color: #4E5E30;
  border-color: #4E5E30;
}

.btn:hover {
  border: 1px solid #fff;
}

.language-btn:hover {
  background: #283593;
  color: #fff;
}

.language-btn {
  background: #fff;
  color: #283593;
  border: 1px solid #283593;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}